@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

//variables
$primary-color: #000;
$secondary-color: #FFFF;
$tertiary-color: 'white';

//globals
* {
    box-sizing: border-box;
    font-family: 'Roboto';
}

html {
    background: $primary-color;
}

//nav-bar--------------------------------------->
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
    background: black;
    padding: 16;
    margin: 0;
    height: 12vh;
    ul {
        display: flex;
        width: 100%;
        margin: 0px 20px 0px 20px;
        justify-content: space-between;
    }
    li a {
        text-decoration: none;
        color: $secondary-color;
    }
}


h1 {
    margin: 0px;
}
body {
    margin: 0;
}


.hero-container {
    height: 76vh;
    width: 100%;
    background-image: url('/02.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    object-fit: cover;

    video {
        height: 100%;
        width: 100%;
    }
}
.button {
    background-color: red;
    display: inline;
    padding: 10px;
    border-radius: 20px;;
}

.footer {
    i{
        color: white;
        font-size: 2em;

    }
    i:hover {
        transform: scale(1.2);
        transition: all .25s ease-out;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 9vh;
    background: black;
}


.shows-body {
    .shows-container {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
        .show-row{
            display: flex;
            justify-content: space-around;
            align-items: center;
            border: 1px solid red;

            .center-div {
                max-width: 40%;
                text-align: center;
            }


        }
        .date-circle {
        background-color: black;
        color: white;
        border-radius: 50%;
        width: 100px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
}
background: white;


}


.shows-hero {
    height: 50vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

//about us---------------------------->
.about-us-body {
    background: $primary-color;
}
.about-us-wrapper {
    padding: 20px;
    width: 100vw;
    height: 70vh;
    background:black;
    color: white;
    display: flex;
    justify-content: space-around;

    gap: 10px;

    //flip cards
    .card-outer:hover > .card-inner{
        transform: rotateY(180deg);
        background: rgb(2, 113, 94);
        transition: all 0.5s ease-out;
    }
    .card-outer {
        width: 100%;
        position: relative;
        overflow: hidden;
        border-radius: 10px;
        transform-style: preserve-3d;

        .card-inner {
            position: absolute;
            backface-visibility: hidden;
            transform-style: preserve-3d;
            height: 100%;
        .bio-pic {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                background-size: cover;

            }
        .bio {
            transform: rotateY(180deg);
            backface-visibility: hidden;
            padding: 10px;
            text-align: center;
        }
        }
    }

    //mobile bios
    .mobile-bio {
        display: none;
    }
    .card-outer {
        display: none;
    }

}

@media (max-width: 700px) {
    *{
        color: red;
    }

    .mobile-bio-one {
        display: block;
    }

  }